@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/yummi-lassi");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Gilroy-Regular", sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  display: none;
}

main {
  width: 60vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #06070A;
  border-radius: 30px;
}
main .bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
main .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 30px;
  border: 1px solid #FF2E00;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 11.7px 0px #FF2E00, 0px 0px 11.7px 0px rgba(255, 47, 0, 0.4980392157) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .close-btn:hover {
  background: #ff2f00;
}
main .input-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
main .input-wrapper .invite-box {
  border-radius: 4px;
  background: #090B0E;
  width: 45%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
main .input-wrapper .invite-box .closebtn {
  position: absolute;
  right: 15px;
  top: 15px;
}
main .input-wrapper .invite-box .title {
  color: #FFF;
  font-family: Gilroy-Medium;
  font-size: 18px;
}
main .input-wrapper .invite-box .subtitle {
  color: rgba(255, 255, 255, 0.47);
  font-size: 14px;
}
main .input-wrapper .invite-box input {
  padding: 17px;
  text-align: center;
  width: 100%;
  outline: none;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #25272B;
  font-family: Gilroy-Medium;
  background: radial-gradient(1530.98% 90.85% at 50% 50%, #0F1116 0%, rgba(15, 17, 22, 0) 100%);
}
main .input-wrapper .invite-box .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 2px;
  background: rgba(189, 255, 0, 0.18);
  color: #BDFF00;
  padding: 14px;
  text-shadow: 0px 0px 9px #BDFF00;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Gilroy-Medium;
  cursor: pointer;
}
main .input-wrapper .invite-box .btn:hover {
  background: rgba(189, 255, 0, 0.28);
}
main .header {
  width: 100%;
  height: 14%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 20px;
}
main .header .title-wrapper {
  display: flex;
  align-items: center;
}
main .header .title-wrapper .text-1 {
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0) 109.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: 700;
}
main .header .title-wrapper .text-2 {
  color: #1ece97;
  text-shadow: 0px 4px 54.1px rgba(255, 0, 57, 0.55);
  font-family: "Yummi Lassi";
  font-size: 40px;
  font-weight: 400;
  margin-left: -5px;
}
main .header .subtitle {
  color: rgba(255, 255, 255, 0.47);
  font-size: 14px;
  font-weight: 400;
  width: 35%;
}
main .main-container {
  width: 100%;
  height: 76%;
  padding: 30px 40px 20px 40px;
  display: flex;
  gap: 20px;
}
main .main-container .left {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .main-container .left .user-profile {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: #090B0E;
  padding: 25px;
  gap: 20px;
}
main .main-container .left .user-profile .image-wrapper {
  width: 66px;
  height: 70px;
  position: relative;
}
main .main-container .left .user-profile .image-wrapper .change-pp-btn {
  position: absolute;
  right: 5px;
  top: 70%;
  padding: 3px 5px 0px 5px;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
  z-index: 999;
}
main .main-container .left .user-profile .image-wrapper .change-pp-btn:hover {
  background: #E5E5E5;
}
main .main-container .left .user-profile .image-wrapper .pp {
  position: relative;
  z-index: 3;
  width: 66px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
main .main-container .left .user-profile .image-wrapper .blur {
  position: absolute;
  left: -110%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
main .main-container .left .user-profile .image-wrapper .box {
  position: absolute;
  z-index: 1;
  left: -20%;
}
main .main-container .left .user-profile .info-wrapper {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
}
main .main-container .left .user-profile .info-wrapper .title {
  color: rgba(255, 255, 255, 0.47);
  font-size: 14px;
  font-weight: 400;
}
main .main-container .left .user-profile .info-wrapper .name {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  font-family: Gilroy-Medium;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .main-container .left .user-profile .info-wrapper .level-wrapper {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: rgba(255, 107, 0, 0.25);
  color: #FF6B00;
  text-shadow: 0px 0px 5.8px #FF6B00;
  font-size: 12px;
  width: fit-content;
  padding-right: 8px;
  margin-top: 3px;
}
main .main-container .left .toggle-invite {
  border-radius: 4px;
  background: rgba(189, 255, 0, 0.18);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
}
main .main-container .left .toggle-invite .text {
  color: #BDFF00;
  font-size: 14px;
  font-weight: 400;
}
main .main-container .left .toggle-invite .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
main .main-container .left .toggle-invite .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
main .main-container .left .toggle-invite .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1px;
  background: #232D05;
  -webkit-transition: 0.4s;
  transition: 0.4s transform;
}
main .main-container .left .toggle-invite .slider:hover {
  background: rgb(32, 42, 5);
}
main .main-container .left .toggle-invite .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  border-radius: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #374a00;
}
main .main-container .left .toggle-invite input:checked + .slider:before {
  transform: translateX(20px);
  background: #BDFF00;
}
main .main-container .left .squad {
  border-radius: 4px;
  background: #090B0E;
  width: 100%;
  height: calc(100% - 200px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-image: url("../assets/overlay-1.png");
  background-repeat: no-repeat;
  position: relative;
}
main .main-container .left .squad .title-wrapper .title {
  color: #FFF;
  font-family: Gilroy-Medium;
  font-size: 18px;
}
main .main-container .left .squad .title-wrapper .subtitle {
  color: rgba(255, 255, 255, 0.47);
  font-size: 14px;
  font-weight: 400;
}
main .main-container .left .squad .squad-members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100% - 52px);
  overflow-y: scroll;
}
main .main-container .left .squad .squad-members::-webkit-scrollbar {
  width: 0px;
}
main .main-container .left .squad .squad-members .invite-btn {
  position: relative;
  height: 63px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 100%;
}
main .main-container .left .squad .squad-members .invite-btn .icon, main .main-container .left .squad .squad-members .invite-btn .text {
  position: relative;
  z-index: 1;
}
main .main-container .left .squad .squad-members .invite-btn .text {
  color: #BDFF00;
  text-shadow: 0px 0px 9px #BDFF00;
  font-family: Gilroy-Medium;
  font-size: 12px;
}
main .main-container .left .squad .squad-members .invite-btn .btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.7;
  transition: 0.2s;
}
main .main-container .left .squad .squad-members .invite-btn:hover .btn {
  opacity: 1;
}
main .main-container .left .squad .squad-members .member {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .main-container .left .squad .squad-members .member .member-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 11px;
  border-radius: 2px;
  width: 83%;
  background: radial-gradient(1530.98% 90.85% at 50% 50%, #0F1116 0%, rgba(15, 17, 22, 0) 100%);
}
main .main-container .left .squad .squad-members .member .member-box .image-wrapper {
  position: relative;
  width: 30px;
  height: 34px;
}
main .main-container .left .squad .squad-members .member .member-box .image-wrapper .pp {
  position: relative;
  z-index: 3;
  width: 30px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
main .main-container .left .squad .squad-members .member .member-box .image-wrapper .box {
  position: absolute;
  z-index: 1;
  left: -37%;
}
main .main-container .left .squad .squad-members .member .member-box .info-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
main .main-container .left .squad .squad-members .member .member-box .info-wrapper .title-wrapper .title {
  color: rgba(255, 255, 255, 0.47);
  font-size: 12px;
  line-height: 100%;
}
main .main-container .left .squad .squad-members .member .member-box .info-wrapper .title-wrapper .level-wrapper {
  display: flex;
  align-items: center;
  color: #FF6B00;
  text-shadow: 0px 0px 5.8px #FF6B00;
  font-size: 12px;
  line-height: 100%;
}
main .main-container .left .squad .squad-members .member .member-box .info-wrapper .name {
  color: #FFF;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 100%;
}
main .main-container .left .squad .squad-members .member .kick-btn {
  width: 13%;
  border-radius: 2px;
  background: rgba(255, 46, 0, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .main-container .left .squad .squad-members .member .kick-btn:hover {
  background: rgba(255, 46, 0, 0.47);
}
main .main-container .left .squad .squad-members .member:first-child .member-box {
  width: 100%;
}
main .main-container .left .squad .squad-members .member:first-child .kick-btn {
  display: none;
}
main .main-container .missions {
  width: calc(68% - 20px);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
main .main-container .missions::-webkit-scrollbar {
  width: 0px;
}
main .main-container .missions .mission {
  width: calc(50% - 7.5px);
  height: calc(50% - 7.5px);
  position: relative;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .main-container .missions .mission.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
main .main-container .missions .mission.locked {
  justify-content: space-between;
}
main .main-container .missions .mission.locked .overlay {
  border-radius: 4px;
  border: 1px dashed #FF2E00;
  background: rgba(9, 11, 14, 0.97) !important;
  position: relative;
}
main .main-container .missions .mission.locked .overlay::before {
  content: "";
  width: 375px;
  height: 375px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  background: rgba(255, 46, 0, 0.25);
  filter: blur(117.0999984741px);
}
main .main-container .missions .mission.locked .mission-title-wrapper {
  text-align: center;
  padding-top: 40%;
}
main .main-container .missions .mission.locked .mission-title-wrapper .icon {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
}
main .main-container .missions .mission.locked .mission-title-wrapper .subtitle {
  color: rgba(255, 255, 255, 0.55);
}
main .main-container .missions .mission.locked .mission-title-wrapper .locked-text {
  color: #FF2E00;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-weight: 700;
}
main .main-container .missions .mission:hover:not(.locked) {
  cursor: pointer;
}
main .main-container .missions .mission:hover:not(.locked) .overlay {
  opacity: 0.9;
}
main .main-container .missions .mission.active:not(.locked) .overlay {
  border-radius: 4px;
  border: 1px dashed #BDFF00;
  opacity: 0.9;
}
main .main-container .missions .mission .mission-title-wrapper {
  padding: 10px;
}
main .main-container .missions .mission .mission-title-wrapper .title {
  color: #FFF;
  font-family: "Bebas Neue";
  font-size: 24px;
  font-weight: 700;
}
main .main-container .missions .mission .mission-title-wrapper .subtitle {
  color: #FFF;
  font-size: 14px;
}
main .main-container .missions .mission .mission-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .main-container .missions .mission .mission-details-wrapper .details {
  display: flex;
  gap: 9px;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail {
  width: 33.33%;
  padding: 26px 0 9px 0;
  text-align: center;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail::before {
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -60%;
  transform: translateX(-50%);
  filter: blur(44px);
}
main .main-container .missions .mission .mission-details-wrapper .details .detail .title {
  font-size: 24px;
  font-family: Gilroy-Bold;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail .subtitle {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.level {
  background: linear-gradient(180deg, #0F1116 0%, rgba(15, 17, 22, 0) 100%);
  overflow: hidden;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.level::before {
  background-color: #FFD953;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.level .title {
  color: #FFD953;
  text-shadow: 0px 0px 15.9px #FFD953;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.members {
  background: linear-gradient(180deg, #0F1116 0%, rgba(15, 17, 22, 0) 100%);
  overflow: hidden;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.members::before {
  background-color: #9F53FF;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.members .title {
  color: #9F53FF;
  text-shadow: 0px 0px 15.9px #9F53FF;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.salary {
  background: linear-gradient(180deg, #0F1116 0%, rgba(15, 17, 22, 0) 100%);
  overflow: hidden;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.salary::before {
  background-color: #53FFB7;
}
main .main-container .missions .mission .mission-details-wrapper .details .detail.salary .title {
  color: #53FFB7;
  text-shadow: 0px 0px 15.9px #53FFB7;
}
main .main-container .missions .mission .mission-details-wrapper .difficulties {
  width: 100%;
  display: flex;
  gap: 9px;
}
main .main-container .missions .mission .mission-details-wrapper .difficulties .box {
  width: 33.33%;
  height: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.15);
}
main .main-container .missions .mission .mission-details-wrapper .difficulties .box.active {
  background: #BDFF00;
}
main .main-container .missions .mission .mission-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
  overflow: hidden;
}
main .main-container .missions .mission .mission-image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.2s;
  background: linear-gradient(180deg, rgba(9, 11, 14, 0) 0%, rgba(9, 11, 14, 0.75) 45.12%, #090B0E 100%);
}
main .main-container .missions .mission .mission-image img {
  min-width: 100%;
  height: 100%;
}
main .start-btn {
  width: 100%;
  height: 6%;
  padding: 0 50px;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  color: #BDFF00;
  text-align: center;
  text-shadow: 0px 0px 9px #BDFF00;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.3s ease;
}
main .start-btn .icon, main .start-btn .icon-2, main .start-btn span {
  transition: 0.3s ease;
}
main .start-btn:hover {
  opacity: 1;
}
main .start-btn:hover .icon {
  transform: translateX(10px);
}
main .start-btn:hover span {
  transform: translateX(15px);
}
main .start-btn:hover .icon-2 {
  transform: translateX(20px);
}
main .start-btn .btn-bg {
  width: calc(100% - 80px);
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
main .disabled {
  opacity: 0.3 !important;
  pointer-events: none !important;
}

/*# sourceMappingURL=style.css.map */
